* {
    box-sizing: border-box;
    text-align: center;
}
html {
    margin: 0 15% 0 15%;
    min-width: 850px;
}
@media screen and (max-width: 1400px) {
    html {
      margin: 0;
    }
}
#content {
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 6rem;
    margin-top: 0;
    margin-bottom: 0;
}
p {
    margin-top: 0;
    margin-bottom: 50px;
}
.flex {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}
.title, .attr {
    width: 12,5%;
    max-width: 130px;
    margin-left: auto;
    margin-right: auto;
}
.attr p {
    margin: 0;
    padding: 0;
}