<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='./css/main.css')}}"
    />
    <title>Pogoda - Gdańsk</title>
  </head>
  <body>
    <div id="content">
      <header>
        <div>
          <h1>{{city['name']}}</h1>
          <p>Współrzędne: {{city['coord']['lat']}}, {{city['coord']['lon']}}</p>
        </div>
      </header>
      <main>
        <article>
          <section>
            <div class="flex">
              <div class="title"><h3>Data i czas</h3></div>
              <div class="title"><h3>Pogoda</h3></div>
              <div class="title"><h3>Temperatura</h3></div>
              <div class="title"><h3>Temperatura odczuwalna</h3></div>
              <div class="title"><h3>Ciśnienie</h3></div>
              <div class="title"><h3>Wilgotność</h3></div>
              <div class="title"><h3>Zachmurzenie</h3></div>
              <div class="title"><h3>Wiatr</h3></div>
            </div>
          </section>
          {% for i in forecast %}
          <section>
            <div class="flex">
              <div class="attr">{{i['dt_txt']}}</div>
              <div class="attr">
                <p><img src="{{ url_for('static', filename = 'img/'+i['weather'][0]['icon']+'.png') }}" alt="weather-icon"></p>
                <p>{{i['weather'][0]['description']}}</p>
              </div>
              <div class="attr">{{i['main']['temp']|round|int}} &#8451;</div>
              <div class="attr">{{i['main']['feels_like']|round|int}} &#8451;</div>
              <div class="attr">{{i['main']['pressure']}} hPa</div>
              <div class="attr">{{i['main']['humidity']}}%</div>
              <div class="attr">{{i['clouds']['all']}}%</div>
              <div class="attr">{{i['wind']['speed']}} m/s</div>
            </div>
          </section>
          {% endfor %}
        </article>
      </main>
    </div>
  </body>
</html>
